<section id="generated-list">
  <h1>Shopping List for <%= @recipe.name %></h1>
  <div>
    <h3>Amount of food items to buy: <%= @total_ingredients %></h3>
    <h3>Total value of food: $<%= @total_price %></h3>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="th">Ingredient</th>
          <th class="th">Quantity</th>
          <th class="th">Price</th>
        </tr>
      </thead>
      <tbody>
        <%@missing_foods.each do |ingred|%>
          <tr>
            <td><%=ingred.food.name%></td>
            <td>
              <%= ingred.quantity - ingred.food.quantity %> <%=
            ingred.food.measurment_unit%>
            </td>
            <td>
              $<%=ingred.food.price * (ingred.quantity - ingred.food.quantity) %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</section>
